.custom-popup .leaflet-popup-content-wrapper {
    background: #2c3e50;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}

.custom-popup .leaflet-popup-content-wrapper a {
    color: rgba(255, 255, 255, 0.5);
}

.custom-popup .leaflet-popup-tip-container {
    width: 30px;
    height: 15px;
}

.custom-popup .leaflet-popup-tip {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #2c3e50;
}

button {
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(66, 184, 221);
    border:1px solid #18ab29;
}

.reset-button {
    background-color: cornflowerblue;
    padding: 12px 28px;
}

body {
    margin: 0;
}

.wrapper {
    display: grid;
    /* grid-gap: 10px; */
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    /* border-radius: 5px; */
    /* padding: 20px; */
    font-size: 150%;

}

.map {
    grid-column: 1 / span 5;
    height: 100vh;
}

.b {
    grid-column: 6;
    grid-row: 1 / span 2;
}